{% extends "base.html.twig" %}

{% block body %}
    <h1>Product overview</h1>
    <div>
        <form method="post" action="/">
            <select name="brand">

            </select>
            <select name="category">

            </select>
            <button type="submit" value="filter"></button>
        </form>

    </div>
   <div>

       <table>
           <thead>
                <tr>
                    <th>title</th>
                    <th>brand</th>
                    <th>category</th>
                    <th>price</th>
                    <th>&nbsp;</th>
                </tr>
           </thead>
           <tbody>

                {% for item in products %}

                    <tr>
                        <td>{{ item.title }}</td>
                        <td>
                            {% if(item.brand) %}
                                {{ item.brand.brand }}
                            {% endif %}
                        </td>
                        <td>{{ item.category.category }}</td>
                        <td>
                            <strike>{{ item.price|format_currency('EUR') }}</strike>
                            {{ item.DiscountPrice()|format_currency('EUR') }}
                        </td>
                        <td>
                            <a href="/details/{{ item.id }}">details</a>
                        </td>
                    </tr>
                {% endfor %}
           </tbody>
       </table>

   </div>
    <div>
        {{ pagerfanta(products) }}
    </div>
{% endblock %}